html, body {
    margin:0px;
    height:100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

.box {
    background:black;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
  }